-- MySQL dump 10.13  Distrib 8.0.36, for Win64 (x86_64)
--
-- Host: localhost    Database: test_db
-- ------------------------------------------------------
-- Server version	8.0.36

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `test_db`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `test_db` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `test_db`;

--
-- Table structure for table `bausecase`
--

DROP TABLE IF EXISTS `bausecase`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bausecase` (
  `UC_ID` varchar(255) DEFAULT NULL,
  `Use_Case` text,
  `Steps_ID` varchar(255) DEFAULT NULL,
  `Action` text,
  `Source_Actors` text,
  `Target_Actor` text,
  `Action_Details` text,
  `Input` text,
  `Output` text,
  `Model_ID` int DEFAULT NULL,
  `Model_Name` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bausecase`
--

LOCK TABLES `bausecase` WRITE;
/*!40000 ALTER TABLE `bausecase` DISABLE KEYS */;
/*!40000 ALTER TABLE `bausecase` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mermaid`
--

DROP TABLE IF EXISTS `mermaid`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mermaid` (
  `UC_ID` varchar(20) DEFAULT NULL,
  `mermaid_diagram` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mermaid`
--

LOCK TABLES `mermaid` WRITE;
/*!40000 ALTER TABLE `mermaid` DISABLE KEYS */;
/*!40000 ALTER TABLE `mermaid` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `otp`
--

DROP TABLE IF EXISTS `otp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `otp` (
  `id` int NOT NULL AUTO_INCREMENT,
  `otp_value` varchar(255) DEFAULT NULL,
  `used` tinyint(1) DEFAULT NULL,
  `email` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `otp`
--

LOCK TABLES `otp` WRITE;
/*!40000 ALTER TABLE `otp` DISABLE KEYS */;
INSERT INTO `otp` VALUES (28,'3337',1,'dineshmec55@gmail.com'),(29,'4100',0,'dineshmec55@gmail.com'),(30,'4453',0,'dineshmec55@gmail.com'),(31,'8458',0,'dineshmec55@gmail.com'),(32,'7942',0,'amizhthansp@gmail.com'),(33,'1150',0,'amizhthansp@gmail.com'),(34,'3333',0,'amizhthansp@gmail.com'),(35,'6894',1,'amizhthansp@gmail.com');
/*!40000 ALTER TABLE `otp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `techniques`
--

DROP TABLE IF EXISTS `techniques`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `techniques` (
  `id` int NOT NULL AUTO_INCREMENT,
  `NAME` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `techniques`
--

LOCK TABLES `techniques` WRITE;
/*!40000 ALTER TABLE `techniques` DISABLE KEYS */;
INSERT INTO `techniques` VALUES (1,'EDA'),(2,'Logistic Regression'),(3,'Decision Trees'),(4,'Natural Language Processing (NLP)'),(5,'Gradient Boosting Machines (GBMs)'),(6,'Neural Networks'),(7,'Collaborative Filtering'),(8,'Sentiment Analysis'),(9,'Kth Nearest Neighbors'),(10,'Support Vector Machines (SVM)'),(11,'Deep Learning');
/*!40000 ALTER TABLE `techniques` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testcases`
--

DROP TABLE IF EXISTS `testcases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `testcases` (
  `id` int NOT NULL AUTO_INCREMENT,
  `description` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testcases`
--

LOCK TABLES `testcases` WRITE;
/*!40000 ALTER TABLE `testcases` DISABLE KEYS */;
INSERT INTO `testcases` VALUES (1,'Analyze bank customer churn rate to comprehend reasons for customer departure.'),(2,'Risk-Based Pricing for Loan Interest Rates Prediction.'),(3,'Customer Profiling and Targeted Telemarketing for Deposit Acquisition.'),(4,'Personalized Service Recommendation for Enhanced User Experience.'),(5,'Sentiment Analysis for Online Banking Reviews Classification.'),(6,'Personal Loan Conversion Prediction for Liability Customers.');
/*!40000 ALTER TABLE `testcases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `work_email` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (7,'akashpersonal18@gmail.com','123456',NULL),(8,'dineshmec55@gmail.com','098765',NULL),(10,'amizhthansp@gmail.com','098765',NULL);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Current Database: `models`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `models` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `models`;

--
-- Table structure for table `aiusecase`
--

DROP TABLE IF EXISTS `aiusecase`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `aiusecase` (
  `Project_ID` int NOT NULL AUTO_INCREMENT,
  `Title` varchar(255) DEFAULT NULL,
  `Notebook_Filename` varchar(255) DEFAULT NULL,
  `Data_Files` varchar(255) DEFAULT NULL,
  `Description` text,
  PRIMARY KEY (`Project_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aiusecase`
--

LOCK TABLES `aiusecase` WRITE;
/*!40000 ALTER TABLE `aiusecase` DISABLE KEYS */;
/*!40000 ALTER TABLE `aiusecase` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `datasciencetools`
--

DROP TABLE IF EXISTS `datasciencetools`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `datasciencetools` (
  `ToolID` int NOT NULL AUTO_INCREMENT,
  `ToolName` text NOT NULL,
  `ToolDescription` text NOT NULL,
  PRIMARY KEY (`ToolID`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `datasciencetools`
--

LOCK TABLES `datasciencetools` WRITE;
/*!40000 ALTER TABLE `datasciencetools` DISABLE KEYS */;
/*!40000 ALTER TABLE `datasciencetools` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `machinelearningmodels`
--

DROP TABLE IF EXISTS `machinelearningmodels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `machinelearningmodels` (
  `ModelID` int NOT NULL AUTO_INCREMENT,
  `ModelName` text NOT NULL,
  `ModelDescription` text NOT NULL,
  PRIMARY KEY (`ModelID`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `machinelearningmodels`
--

LOCK TABLES `machinelearningmodels` WRITE;
/*!40000 ALTER TABLE `machinelearningmodels` DISABLE KEYS */;
/*!40000 ALTER TABLE `machinelearningmodels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mlmodelstools`
--

DROP TABLE IF EXISTS `mlmodelstools`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mlmodelstools` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `ModelName` text NOT NULL,
  `ToolName` text NOT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mlmodelstools`
--

LOCK TABLES `mlmodelstools` WRITE;
/*!40000 ALTER TABLE `mlmodelstools` DISABLE KEYS */;
INSERT INTO `mlmodelstools` VALUES (1,'Linear Regression','Scikit-Learn'),(2,'Logistic Regression','Scikit-Learn'),(3,'Support Vector Regression','Scikit-Learn'),(4,'Support Vector Classification','Scikit-Learn'),(5,'Decision trees','Scikit-Learn'),(6,'Random forests','Scikit-Learn'),(7,'Kth nearest Neighbors','Scikit-Learn'),(8,'Na├»ve Bayes','Scikit-Learn');
/*!40000 ALTER TABLE `mlmodelstools` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `model`
--

DROP TABLE IF EXISTS `model`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `model` (
  `Usecase_ID` int DEFAULT NULL,
  `Usecases` text,
  `Objective` text,
  `Model_ID` int DEFAULT NULL,
  `Models` text,
  `Model_Objective` text,
  `Tool_ID` int DEFAULT NULL,
  `Tools` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `model`
--

LOCK TABLES `model` WRITE;
/*!40000 ALTER TABLE `model` DISABLE KEYS */;
/*!40000 ALTER TABLE `model` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Current Database: `techinsurance`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `techinsurance` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `techinsurance`;

--
-- Table structure for table `address`
--

DROP TABLE IF EXISTS `address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `address` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `building` varchar(255) DEFAULT NULL,
  `streetName` varchar(255) DEFAULT NULL,
  `city` varchar(255) DEFAULT NULL,
  `state` varchar(255) DEFAULT NULL,
  `country` varchar(255) DEFAULT NULL,
  `postal_code` varchar(255) DEFAULT NULL,
  `threeWordAddress` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `address`
--

LOCK TABLES `address` WRITE;
/*!40000 ALTER TABLE `address` DISABLE KEYS */;
INSERT INTO `address` VALUES (1,'123','Main Street','New York','NY','USA','10001','circle.square.triangle'),(2,'456','Elm Street','Los Angeles','CA','USA','90001','apple.banana.orange'),(3,'987','Main Street','New York','NY','USA','10001','circle.square.triangle'),(4,'909','Elm Street','Los Angeles','CA','USA','90001','apple.banana.orange'),(5,'909','Elm Street','Los Angeles','CA','USA','90001','apple.banana.orange'),(6,'909','Elm Street','Los Angeles','CA','USA','90001','apple.banana.orange'),(7,'909','Elm Street','Los Angeles','CA','USA','90001','apple.banana.orange');
/*!40000 ALTER TABLE `address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `beneficiary`
--

DROP TABLE IF EXISTS `beneficiary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `beneficiary` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `address_id` bigint DEFAULT NULL,
  `share` float DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `address_id` (`address_id`),
  CONSTRAINT `beneficiary_ibfk_1` FOREIGN KEY (`address_id`) REFERENCES `address` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `beneficiary`
--

LOCK TABLES `beneficiary` WRITE;
/*!40000 ALTER TABLE `beneficiary` DISABLE KEYS */;
INSERT INTO `beneficiary` VALUES (1,'John Smith',1,0.5),(2,'Jane Doe',2,0.3);
/*!40000 ALTER TABLE `beneficiary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `claim`
--

DROP TABLE IF EXISTS `claim`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `claim` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `claimType` enum('own property damage','third party bodily injury','third party property damage','other') DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `lossCause` varchar(255) DEFAULT NULL,
  `description` text,
  `fnol` date DEFAULT NULL,
  `claimNumber` varchar(255) DEFAULT NULL,
  `liabilityShare` float DEFAULT NULL,
  `reserve` float DEFAULT NULL,
  `claimStatus` enum('open','closed','reopened') DEFAULT NULL,
  `lastUpdate` date DEFAULT NULL,
  `reopenDate` date DEFAULT NULL,
  `excessAmount` float DEFAULT NULL,
  `paymentMethod` enum('cash','credit card','cheque','electronic transfer','crypto currency or tokens') DEFAULT NULL,
  `documents` text,
  `lossDate` date DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `claim`
--

LOCK TABLES `claim` WRITE;
/*!40000 ALTER TABLE `claim` DISABLE KEYS */;
INSERT INTO `claim` VALUES (1,'own property damage','123 Main St, Cityville','Fire','Fire damage to property','2024-04-05','CLM-001',0.5,5000,'open','2024-04-07',NULL,1000,'credit card','document1.pdf, document2.pdf','2024-04-01'),(2,'third party bodily injury','456 Elm St, Townville','Car accident','Injured pedestrian','2024-03-20','CLM-002',0.3,8000,'closed','2024-03-25',NULL,1500,'cheque','document3.pdf','2024-03-15');
/*!40000 ALTER TABLE `claim` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `claimsbordereau`
--

DROP TABLE IF EXISTS `claimsbordereau`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `claimsbordereau` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `treatyReference` varchar(255) DEFAULT NULL,
  `policyholder` varchar(255) DEFAULT NULL,
  `policyNumber` varchar(255) DEFAULT NULL,
  `inceptionDate` date DEFAULT NULL,
  `expiryDate` date DEFAULT NULL,
  `indemnityLimitPolicy` int DEFAULT NULL,
  `claimNumber` varchar(255) DEFAULT NULL,
  `fnol` date DEFAULT NULL,
  `dateOfLoss` date DEFAULT NULL,
  `causeOfLoss` varchar(255) DEFAULT NULL,
  `claimant` varchar(255) DEFAULT NULL,
  `GrosslLossReserve` float DEFAULT NULL,
  `excessAmount` float DEFAULT NULL,
  `expenseReserve` float DEFAULT NULL,
  `paid` float DEFAULT NULL,
  `expensesPaid` float DEFAULT NULL,
  `expectedRecovery` float DEFAULT NULL,
  `recoveryReceived` float DEFAULT NULL,
  `claimStatus` enum('open','closed','reopened') DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `policyNumber` (`policyNumber`),
  CONSTRAINT `claimsbordereau_ibfk_1` FOREIGN KEY (`policyNumber`) REFERENCES `motorcoverage` (`policyNumber`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `claimsbordereau`
--

LOCK TABLES `claimsbordereau` WRITE;
/*!40000 ALTER TABLE `claimsbordereau` DISABLE KEYS */;
INSERT INTO `claimsbordereau` VALUES (4,'Treaty123','John Doe','POL-001','2023-01-01','2023-12-31',1000000,'CLAIM001','2023-06-15','2023-06-10','Car accident','Jane Smith',50000,1000,2000,25000,5000,15000,10000,'open'),(5,'Treaty456','Alice Johnson','POL-002','2023-02-15','2023-11-30',800000,'CLAIM002','2023-07-20','2023-07-10','Theft','Robert Brown',40000,1500,1800,20000,3000,12000,8000,'closed');
/*!40000 ALTER TABLE `claimsbordereau` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commercial`
--

DROP TABLE IF EXISTS `commercial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commercial` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `registeredAddressId` bigint DEFAULT NULL,
  `dateFounded` date DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `occupation` varchar(255) DEFAULT NULL,
  `preferredLanguage` varchar(255) DEFAULT NULL,
  `registrationNumber` varchar(255) DEFAULT NULL,
  `vat` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `registeredAddressId` (`registeredAddressId`),
  CONSTRAINT `commercial_ibfk_1` FOREIGN KEY (`registeredAddressId`) REFERENCES `address` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commercial`
--

LOCK TABLES `commercial` WRITE;
/*!40000 ALTER TABLE `commercial` DISABLE KEYS */;
INSERT INTO `commercial` VALUES (1,'ABC Company',1,'2000-01-01','abc@example.com','+123456789','Manufacturing','English','ABC12345','VAT123'),(2,'XYZ Corporation',2,'1995-05-10','xyz@example.com','+987654321','Technology','Spanish','XYZ54321','VAT456');
/*!40000 ALTER TABLE `commercial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conviction`
--

DROP TABLE IF EXISTS `conviction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conviction` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `offenceDate` date DEFAULT NULL,
  `date` date DEFAULT NULL,
  `points` int DEFAULT NULL,
  `fine` float DEFAULT NULL,
  `fineCurrency` enum('fiat','cryptocurrency and tokens') DEFAULT NULL,
  `suspension` tinyint(1) DEFAULT NULL,
  `suspensionLength` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conviction`
--

LOCK TABLES `conviction` WRITE;
/*!40000 ALTER TABLE `conviction` DISABLE KEYS */;
INSERT INTO `conviction` VALUES (1,'2023-01-01','2023-02-01',6,500,'fiat',1,3),(2,'2022-11-15','2023-01-10',3,300,'fiat',0,0);
/*!40000 ALTER TABLE `conviction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `driver`
--

DROP TABLE IF EXISTS `driver`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `driver` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `gender` enum('male','female','other') DEFAULT NULL,
  `driverDOB` date DEFAULT NULL,
  `isPrimaryDriver` tinyint(1) DEFAULT NULL,
  `licence` varchar(255) DEFAULT NULL,
  `noClaimsDiscount` float DEFAULT NULL,
  `conviction` varchar(255) DEFAULT NULL,
  `medicalCondition` varchar(255) DEFAULT NULL,
  `loading` float DEFAULT NULL,
  `isBlueBadge` tinyint(1) DEFAULT NULL,
  `nonMotorConviction` varchar(255) DEFAULT NULL,
  `workStatus` enum('self employed','retired','employed','redundant') DEFAULT NULL,
  `occupation` varchar(255) DEFAULT NULL,
  `drivingLicenceId` bigint DEFAULT NULL,
  `convictionId` bigint DEFAULT NULL,
  `medicalConditionId` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `drivingLicenceId` (`drivingLicenceId`),
  KEY `convictionId` (`convictionId`),
  KEY `medicalConditionId` (`medicalConditionId`),
  CONSTRAINT `driver_ibfk_1` FOREIGN KEY (`drivingLicenceId`) REFERENCES `drivinglicence` (`id`),
  CONSTRAINT `driver_ibfk_2` FOREIGN KEY (`convictionId`) REFERENCES `conviction` (`id`),
  CONSTRAINT `driver_ibfk_3` FOREIGN KEY (`medicalConditionId`) REFERENCES `medicalcondition` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `driver`
--

LOCK TABLES `driver` WRITE;
/*!40000 ALTER TABLE `driver` DISABLE KEYS */;
INSERT INTO `driver` VALUES (3,'John Doe','male','1990-05-15',1,'DL12345',0.75,'Speeding Offence','Diabetes',0.05,0,'None','employed','Software Engineer',1,1,1);
/*!40000 ALTER TABLE `driver` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `drivinglicence`
--

DROP TABLE IF EXISTS `drivinglicence`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `drivinglicence` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `licenceNumber` varchar(255) DEFAULT NULL,
  `issueDate` date DEFAULT NULL,
  `expiryDate` date DEFAULT NULL,
  `country` varchar(255) DEFAULT NULL,
  `licenceCategory` varchar(255) DEFAULT NULL,
  `licenceCodes` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `drivinglicence`
--

LOCK TABLES `drivinglicence` WRITE;
/*!40000 ALTER TABLE `drivinglicence` DISABLE KEYS */;
INSERT INTO `drivinglicence` VALUES (1,'DL123456','2023-01-01','2028-01-01','USA','Category A','ABC123');
/*!40000 ALTER TABLE `drivinglicence` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insuranceentity`
--

DROP TABLE IF EXISTS `insuranceentity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `insuranceentity` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `tradeName` varchar(255) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  `classification` varchar(255) DEFAULT NULL,
  `registrationNumber` varchar(255) DEFAULT NULL,
  `yearEstablished` date DEFAULT NULL,
  `addressId` bigint DEFAULT NULL,
  `website` varchar(255) DEFAULT NULL,
  `telephone` varchar(255) DEFAULT NULL,
  `creditRating` varchar(255) DEFAULT NULL,
  `developerPortal` varchar(255) DEFAULT NULL,
  `productCatalog` enum('property fire insurance','burglary insurance','renters insurance','home and content insurance','property flood insurance','debris removal insurance','motor comprehensive insurance','motor third party liability insurance','land transit insurance','marine cargo insurance','marine hull and machinery insurance','marine protection and indemnity','carriers liability insurance','medical insurance','construction all risks insurance','engineering contractor plant and machinery insurance','electronic equipment insurance','equipment breakdown insurance','decenial liability insurance','deterioration of stock insurance','boiler and machinery insurance','glass insurance','money cash in transit insurance','money cash in safe insurance','fidelity guarantee insurance','workers compensation insurance','pet insurance','bloodstock insurance','livestock insurance','personal accident insurance','term life insurance','whole of life insurance','medical malpractice insurance','professional indemnity insurance','trade credit insurance','purchase protection insurance','travel insurance','legal expense insurance','cyber liability insurance','business interruption insurance','directors and officers insurance','key person insurance','commercial general liability','employers liability insurance','environmental liability insurance','products liability insurance','property terrorism and sabotage insurance','business owners insurance','errors and ommissions insurance','commercial umbrella insurance','event insurance','passenger liability insurance (aviation)','ground risk hull insurance (aviation)','in-flight insurance (aviation)','roadside assistance','crop insurance','drone insurance','gap insurance','green card','orange card','Investment Saving Account (UK market related)','pension','endowment','annuity','wedding ring insurance','other') DEFAULT NULL,
  `vat` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `addressId` (`addressId`),
  CONSTRAINT `insuranceentity_ibfk_1` FOREIGN KEY (`addressId`) REFERENCES `address` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insuranceentity`
--

LOCK TABLES `insuranceentity` WRITE;
/*!40000 ALTER TABLE `insuranceentity` DISABLE KEYS */;
INSERT INTO `insuranceentity` VALUES (1,'ABC Insurance Company','ABC Insure','Public Limited Company','Property and Casualty Insurer','ABC12345','2000-01-01',1,'https://www.abcinsure.com','+1234567890','AAA','https://developers.abcinsure.com','property fire insurance','VAT12345678');
/*!40000 ALTER TABLE `insuranceentity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicalcondition`
--

DROP TABLE IF EXISTS `medicalcondition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medicalcondition` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `notifiableCondition` enum('diabetes','syncope','heart condition','sleep aponea','epilepsy','strokes','null') DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `medicalDVLArestriction` varchar(255) DEFAULT NULL,
  `medicalTreatment` varchar(255) DEFAULT NULL,
  `bypassOperation` tinyint(1) DEFAULT NULL,
  `insulinInjected` tinyint(1) DEFAULT NULL,
  `dailyInsulinUnits` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicalcondition`
--

LOCK TABLES `medicalcondition` WRITE;
/*!40000 ALTER TABLE `medicalcondition` DISABLE KEYS */;
INSERT INTO `medicalcondition` VALUES (1,'diabetes','active','no restrictions','insulin therapy',1,1,30),(2,'syncope','inactive','no restrictions','medication',0,0,NULL);
/*!40000 ALTER TABLE `medicalcondition` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `motorcoverage`
--

DROP TABLE IF EXISTS `motorcoverage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `motorcoverage` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `policyNumber` varchar(255) DEFAULT NULL,
  `inceptionDate` date DEFAULT NULL,
  `expiryDate` date DEFAULT NULL,
  `status` enum('in force','cancelled','lapsed','extended') DEFAULT NULL,
  `discountAmount` float DEFAULT NULL,
  `premiumRate` float DEFAULT NULL,
  `grossWrittenPremium` float DEFAULT NULL,
  `salesTax` float DEFAULT NULL,
  `brokeragePercentage` float DEFAULT NULL,
  `brokerageAmount` float DEFAULT NULL,
  `premiumPaymentFrequency` enum('annual','bi-annual','quarterly','monthly','bi-monthly','weekly','daily','usage based or on demand','subscription (not an annual contract)','other') DEFAULT NULL,
  `indemnityLimitPolicy` int DEFAULT NULL,
  `indemnityLimitAccident` int DEFAULT NULL,
  `isAgreedValue` tinyint(1) DEFAULT NULL,
  `endorsementID` varchar(255) DEFAULT NULL,
  `endorsementDate` date DEFAULT NULL,
  `endorsementType` enum('addition/increase','deletion/decrease','policy cancellation','policy extension','policy declaration','policy transfer','policy renewal') DEFAULT NULL,
  `peril` enum('liability towards third parties','fire','theft','accidental damage','windshield damage','malicious damage','terrorism and sabotage','flood','earthquake','volcanic erruption','tsunami','hail','unknown or hit and run','riots','strikes','civil commotion','war') DEFAULT NULL,
  `voluntaryDeductiblePercentage` float DEFAULT NULL,
  `voluntaryDeductibleAmount` int DEFAULT NULL,
  `compulsoryDeductiblePercentage` float DEFAULT NULL,
  `compulsoryDeductibleAmount` int DEFAULT NULL,
  `windscreenDeductiblePercentage` float DEFAULT NULL,
  `windscreenDeductibleAmount` int DEFAULT NULL,
  `distanceUnit` enum('km','mile') DEFAULT NULL,
  `pleasureDistance` float DEFAULT NULL,
  `businessDistance` float DEFAULT NULL,
  `numberOfVehicles` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_policyNumber` (`policyNumber`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `motorcoverage`
--

LOCK TABLES `motorcoverage` WRITE;
/*!40000 ALTER TABLE `motorcoverage` DISABLE KEYS */;
INSERT INTO `motorcoverage` VALUES (1,'POL-001','2023-01-01','2024-01-01','in force',1000,0.05,10000,1000,0.1,100,'annual',100000,50000,1,'END-001','2023-06-01','policy renewal','fire',0.2,5000,0.1,2000,0.05,1000,'km',5000,10000,1),(2,'POL-002','2023-02-01','2024-02-01','cancelled',500,0.03,7500,750,0.08,75,'monthly',80000,40000,0,'END-002','2023-07-01','policy extension','theft',0.15,3000,0.05,1500,0.03,750,'mile',3000,6000,2);
/*!40000 ALTER TABLE `motorcoverage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal`
--

DROP TABLE IF EXISTS `personal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `firstName` varchar(255) DEFAULT NULL,
  `lastName` varchar(255) DEFAULT NULL,
  `salutation` enum('Mr.','Mrs.','Ms.') DEFAULT NULL,
  `nationality` varchar(255) DEFAULT NULL,
  `gender` enum('male','female','other') DEFAULT NULL,
  `dob` date DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `mobilePhone` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `addressId` bigint DEFAULT NULL,
  `idType` enum('passport','national id','driving licence','national insurance number','other') DEFAULT NULL,
  `idNumber` varchar(255) DEFAULT NULL,
  `occupation` varchar(255) DEFAULT NULL,
  `policyholderPreferredLanguage` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `addressId` (`addressId`),
  CONSTRAINT `personal_ibfk_1` FOREIGN KEY (`addressId`) REFERENCES `address` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal`
--

LOCK TABLES `personal` WRITE;
/*!40000 ALTER TABLE `personal` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `premiumbordereau`
--

DROP TABLE IF EXISTS `premiumbordereau`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `premiumbordereau` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `treatyReference` varchar(255) DEFAULT NULL,
  `policyholder` varchar(255) DEFAULT NULL,
  `policyNumber` varchar(255) DEFAULT NULL,
  `inceptionDate` date DEFAULT NULL,
  `expiryDate` date DEFAULT NULL,
  `indemnityLimitPolicy` int DEFAULT NULL,
  `grossWrittenPremium` int DEFAULT NULL,
  `netPremium` int DEFAULT NULL,
  `transactionType` enum('new policy','policy renewal','mid term adjustment','claim payment','brokerage payment','profit share payment','other') DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `policyNumber` (`policyNumber`),
  CONSTRAINT `premiumbordereau_ibfk_1` FOREIGN KEY (`policyNumber`) REFERENCES `motorcoverage` (`policyNumber`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `premiumbordereau`
--

LOCK TABLES `premiumbordereau` WRITE;
/*!40000 ALTER TABLE `premiumbordereau` DISABLE KEYS */;
INSERT INTO `premiumbordereau` VALUES (5,'TR12345','John Doe','POL-001','2024-04-01','2025-04-01',1000000,5000,4500,'new policy'),(6,'TR67890','Jane Smith','POL-002','2024-01-15','2024-07-15',500000,3000,2800,'policy renewal');
/*!40000 ALTER TABLE `premiumbordereau` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product`
--

DROP TABLE IF EXISTS `product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `lineOfBusiness` varchar(255) DEFAULT NULL,
  `productModel` enum('conventional-annual premium','pay as you drive','pay how you drive','subscription (e.g. monthly fee)','goverment/market tarrif','other') DEFAULT NULL,
  `contractType` enum('not automated','smart contract','parametric','other') DEFAULT NULL,
  `gracePeriod` date DEFAULT NULL,
  `currency` enum('fiat (ISO-4217)','cryptocurrency and tokens (Non-ISO 4217)') DEFAULT NULL,
  `policyWording` varchar(255) DEFAULT NULL,
  `policyFee` float DEFAULT NULL,
  `premiumPaymentFrequency` enum('annual','bi-annual','quarterly','monthly','bi-monthly','weekly','daily','usage based or on demand','subscription (not an annual contract)','other') DEFAULT NULL,
  `profitShare` varchar(255) DEFAULT NULL,
  `intermediary` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product`
--

LOCK TABLES `product` WRITE;
/*!40000 ALTER TABLE `product` DISABLE KEYS */;
INSERT INTO `product` VALUES (1,'Property Fire Insurance','conventional-annual premium','not automated','2024-04-15','fiat (ISO-4217)','Standard Policy Wording',100,'annual','50%','XYZ Insurance Brokers'),(2,'Motor Comprehensive Insurance','pay as you drive','smart contract','2024-04-20','fiat (ISO-4217)','Comprehensive Coverage',150,'monthly','30%','ABC Insurance Agents');
/*!40000 ALTER TABLE `product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `receipt`
--

DROP TABLE IF EXISTS `receipt`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `receipt` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `claimId` bigint DEFAULT NULL,
  `receiptType` enum('new policy','policy renewal','mid term adjustment','claim payment','brokerage payment','profit share payment','other') DEFAULT NULL,
  `receiptDate` date DEFAULT NULL,
  `paymentAmount` int DEFAULT NULL,
  `receiptCalculation` enum('pro rata','flat') DEFAULT NULL,
  `premiumPaymentMethod` enum('cash','credit card','cheque','electronic transfer','crypto currency or tokens') DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `claimId` (`claimId`),
  CONSTRAINT `receipt_ibfk_1` FOREIGN KEY (`claimId`) REFERENCES `claim` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `receipt`
--

LOCK TABLES `receipt` WRITE;
/*!40000 ALTER TABLE `receipt` DISABLE KEYS */;
INSERT INTO `receipt` VALUES (1,NULL,'new policy','2024-04-10',1500,'pro rata','credit card'),(2,NULL,'policy renewal','2024-05-05',1200,'flat','cheque');
/*!40000 ALTER TABLE `receipt` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicle`
--

DROP TABLE IF EXISTS `vehicle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicle` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `HP` float DEFAULT NULL,
  `KW` float DEFAULT NULL,
  `torque` float DEFAULT NULL,
  `evHP` float DEFAULT NULL,
  `evKW` float DEFAULT NULL,
  `evTorque` float DEFAULT NULL,
  `acceleration` float DEFAULT NULL,
  `vehicleTopSpeed` float DEFAULT NULL,
  `engineCapacity` float DEFAULT NULL,
  `modelYear` float DEFAULT NULL,
  `hasTractionEnabled` tinyint(1) DEFAULT NULL,
  `hasImmobilizer` tinyint(1) DEFAULT NULL,
  `hasTheftDetection` tinyint(1) DEFAULT NULL,
  `currentMileageDynamic` float DEFAULT NULL,
  `yearlyMilageDynamic` float DEFAULT NULL,
  `highwayYearlyMilageDynamic` float DEFAULT NULL,
  `dailyMilageDynamic` float DEFAULT NULL,
  `serviceHistory` float DEFAULT NULL,
  `serviceDue` float DEFAULT NULL,
  `timeToService` float DEFAULT NULL,
  `recallHistory` float DEFAULT NULL,
  `tractionControlEngaged` tinyint(1) DEFAULT NULL,
  `accelerationLongitudinal` float DEFAULT NULL,
  `accelerationLateral` float DEFAULT NULL,
  `accelerationVertical` float DEFAULT NULL,
  `brakingFrequency` float DEFAULT NULL,
  `brakePedalForce` float DEFAULT NULL,
  `brakePedalSpeed` float DEFAULT NULL,
  `performanceMode` float DEFAULT NULL,
  `emergencyBraking` float DEFAULT NULL,
  `engnitionOn` tinyint(1) DEFAULT NULL,
  `engnitionOff` tinyint(1) DEFAULT NULL,
  `ignitionOnTime` float DEFAULT NULL,
  `ignitionOffTime` float DEFAULT NULL,
  `logitude` float DEFAULT NULL,
  `latitude` float DEFAULT NULL,
  `altitude` float DEFAULT NULL,
  `heading` float DEFAULT NULL,
  `isMoving` tinyint(1) DEFAULT NULL,
  `hornIsActive` tinyint(1) DEFAULT NULL,
  `drivingSpeed` float DEFAULT NULL,
  `wheelSpin` float DEFAULT NULL,
  `decelrationRate` float DEFAULT NULL,
  `steeringSpeedTurn` float DEFAULT NULL,
  `laneDepartureWarnning` float DEFAULT NULL,
  `adasAbsIsActive` tinyint(1) DEFAULT NULL,
  `obstacleDetectionIsActive` tinyint(1) DEFAULT NULL,
  `driverIntervention` tinyint(1) DEFAULT NULL,
  `obstacleDetectionWarning` text,
  `speedSet` float DEFAULT NULL,
  `yaw` float DEFAULT NULL,
  `pitch` float DEFAULT NULL,
  `roll` float DEFAULT NULL,
  `gForce` float DEFAULT NULL,
  `trailerIncluded` tinyint(1) DEFAULT NULL,
  `row1Pos1Isbelted` tinyint(1) DEFAULT NULL,
  `row1Pos2Isbelted` tinyint(1) DEFAULT NULL,
  `row2Pos1Isbelted` tinyint(1) DEFAULT NULL,
  `row2Pos2Isbelted` tinyint(1) DEFAULT NULL,
  `cabinTemp` float DEFAULT NULL,
  `cabinHumidity` float DEFAULT NULL,
  `tireConditionRow1Left` text,
  `tireConditionRow1Right` text,
  `tireConditionRow2Left` text,
  `tireConditionRow2Right` text,
  `tirePressureRow1Left` text,
  `tirePressureRow1Right` text,
  `tirePressureRow2Left` text,
  `tirePressureRow2Right` text,
  `brakePadWearRow1Left` text,
  `brakePadWearRow1Right` text,
  `brakePadWearRow2Left` text,
  `brakePadWearRow2Right` text,
  `brakesWearRow1Right` text,
  `brakesWearRow1Left` text,
  `brakeWearRow2Left` text,
  `brakeWearRow2Right` text,
  `clutchWear` float DEFAULT NULL,
  `dashboardWarnning` text,
  `hasAirbagDeployed` tinyint(1) DEFAULT NULL,
  `hasBrakesError` tinyint(1) DEFAULT NULL,
  `engineWarning` text,
  `KnownVehicleDamage` text,
  `damagedParts` text,
  `damagedPartsCost` float DEFAULT NULL,
  `upcomingService` text,
  `occupiedSeats` int DEFAULT NULL,
  `childSeatOccupiesSeat` int DEFAULT NULL,
  `consentGranted` tinyint(1) DEFAULT NULL,
  `plateNumber` varchar(255) DEFAULT NULL,
  `registrationDate` date DEFAULT NULL,
  `countryOfRegistration` varchar(255) DEFAULT NULL,
  `chassisNumber` varchar(255) DEFAULT NULL,
  `vin` varchar(255) DEFAULT NULL,
  `engineNumber` varchar(255) DEFAULT NULL,
  `vehicleWeight` float DEFAULT NULL,
  `agencyRepair` tinyint(1) DEFAULT NULL,
  `bodyType` enum('motor car','motorcycle','motorized tricycle','electric scooter','quadcycle','trailer head','van','bus','tracktor','pod','motor home','construction equipment') DEFAULT NULL,
  `fuelType` enum('petrol','diesel','electric','petrol/electric hybrid','gas','hydrogen') DEFAULT NULL,
  `aiClassification` enum('level 0 autonomous vehicle (SAE standard)','level 1 autonomous vehicle (SAE standard)','level 2 autonomous vehicle (SAE standard)','level 3 autonomous vehicle (SAE standard)','level 4 autonomous vehicle (SAE standard)','level 5 autonomous vehicle (SAE standard)') DEFAULT NULL,
  `vehicleUse` enum('businees','business and leisure','commercial','vehicle sharing','vehicle subscription') DEFAULT NULL,
  `vehicleGarage` tinyint(1) DEFAULT NULL,
  `vehicleBrand` varchar(255) DEFAULT NULL,
  `vehicleModel` varchar(255) DEFAULT NULL,
  `seats` int DEFAULT NULL,
  `colour` varchar(255) DEFAULT NULL,
  `sumInsured` float DEFAULT NULL,
  `accessories` text,
  `accessoryValue` text,
  `co2Emissions` tinyint(1) DEFAULT NULL,
  `automaticTransmission` tinyint(1) DEFAULT NULL,
  `lefthandDrive` tinyint(1) DEFAULT NULL,
  `doors` int DEFAULT NULL,
  `securityDevice` tinyint(1) DEFAULT NULL,
  `modification` tinyint(1) DEFAULT NULL,
  `digitalKeyUsed` tinyint(1) DEFAULT NULL,
  `blueBadgeAdapted` tinyint(1) DEFAULT NULL,
  `distanceUnit` varchar(255) DEFAULT NULL,
  `pleasureDistance` float DEFAULT NULL,
  `businessDistance` float DEFAULT NULL,
  `currentMileage` int DEFAULT NULL,
  `yearlyMilage` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicle`
--

LOCK TABLES `vehicle` WRITE;
/*!40000 ALTER TABLE `vehicle` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicle` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-04-25 10:37:43
